main{
    display: flex;
    justify-content: center;
}

.log{
    font-weight: bold;
}

.contentLogin {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 35%;
    margin-top: 100px;
}

.contentLogin h1{
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    color: #1D6154;
}

.contentLogin form{
    display: flex;
    flex-direction: column;
}

#emailLogin, #passWord{
    height: 50px;
    font-size: 1.2em;
    border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.contentLogin label {
	margin: 2em 0 1em 0;
}

#connection{
    padding: 8px 10px;
    border: none;
}

.contentLogin a{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.error{
    border: 2px solid rgba(255, 0, 0, 0.5);
}

.message{
    display: none;
    padding: 10px;
    justify-content: center;
    background-color: #e84b3d;
    color: white;
    margin-top: 50px;
}

footer{
    position: fixed;
    bottom: 0px;
    right: 50px;
}